extends layout

block content
  h1= title
  p Welcome to #{title} ttt  #{test}

  h1 Sed non accumsan tortor. In hac habitasse platea dictumst. Sed dolor lectus, posuere eu pulvinar sed, vehicula et magna.
 