<html xmlns:fb="http://ogp.me/ns/fb#">
head
  title Pin Code Of India
  
  link(rel='stylesheet', href='/stylesheets/style.css')


  script(src="/javascripts/jquery-1.8.3.js")
  script(src="/javascripts/jquery-ui.js")
  script(type="text/javascript")
    window.fbAsyncInit = function() {
      FB.init({
        appId:'524053510947603',status:true, cookie:true, xfbml:true  
      });
      FB.Event.subscribe('auth.statusChange', handleStatusChange); 
      };
      function handleStatusChange(response){
        if (response.authResponse) {
          if(refresh_on_load && !(location.href.match('\\?logged_out=true'))){
            window.location.reload(true);
          }
        }
      }
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "http://connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
body
  header
  .container
    .main-content
      block content
  #fb-root    
  footer
    p.footer Running on node with Express, Jade and Stylus
</html>